<section class=" w-75 bg-main-light mx-auto  p-3 rounded-3">
    <h1>Fresh Cart</h1>
    
    <p class="text-main">Total price : {{totalPrice| currency: ' EGP '}}</p>
      <!-- cartvalues.data.totalCartPrice -->

 <div class="row pb-2 border-bottom" *ngFor="let item of cartvalues.data?.products">
    
    <div class="col-md-1">
        <!-- img -->
       <img [src]="item.product.imageCover" class="w-100">
    </div>
    <div class="col-md-11">
        
        <div class="d-flex justify-content-between align-items-center">
            <!-- data -->
         <div >
            <h3>{{item.product.title | termtext:2}}</h3>
         <p class="py-0">Price: {{item.price |currency:' EGP ' }}</p>
         <button class="btn m-0 p-0" 
         (click)="RemoveItemFromCart(item.product._id)"
         ><i class="fa-regular fa-trash-can"></i> Remove</button>
         </div>
         <div>
           <!-- btn -->
            <button (click)="changecount(item.product._id,item.count +1)" class="btn border border-success mx-1">+</button>
            <span>{{ item.count }}</span>
            <button (click)="changecount(item.product._id,item.count -1)"   class="btn border border-success mx-1">-</button>
            <!-- [disabled]="item.count === 1" -->
         </div>
        </div>
         

    </div>
 </div>
 <button class="btn-main" [routerLink]="['/checkout' , cartvalues.cartId]">Online Payment <img src="./assets/images/visa-1.svg">  </button>
</section>